---
// @ts-ignore
import { icons } from "@iconify-json/bx/index.js";
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Sitios Web (Landing Pages)",
    description:
      "Sitios totalmente SEO Friendly para la indexaci칩n eficiente de tu negocio digital.",
    icon: "bx:bx-grid-horizontal",
    color: "bg-green-500"
  },
  {
    title: "Aplicaciones y Sistemas Web",
    description:
      "Para los emprendimientos que requieran de una mayor complejidad y desarrollo de sus sitios web y aplicaciones web personalizadas con el proposito que el cliente lo requiera.",
    icon: "bx:bxs-window-alt",
    color: "bg-blue-500"
  },
  {
    title: "SEO y rendimiento",
    description:
      "Mejoramiento, asesoramiento para la mejor eficiencia del SEO y la Exeperiencia de Usuario para el uso de la pagina o plataforma de tu negocio digital. Mapeo automatico del Sitio, Paginaci칩n, Colecciones y mas.",
    icon: "bx:bx-bar-chart-alt",
    color: "bg-red-500"
  },
  {
    title: "Correos Corporativos",
    description:
      "Correos corporativos para darle la relevancia y seriedad profesional a tu Emprendimiento Digital.",
    icon: "bx:bx-box",
    color: "bg-black"
  },
  {
    title: "Proyectos MVP",
    description:
      "Creamos proyectos agiles para la su despliegue y retroalimentaci칩n r치pida y real.",
    icon: "bx:bx-store",
    color: "bg-yellow-500"
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Soluciones profesionales personalizadas.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Brindamos servicios esenciales para el emprendimiento que requieras y como lo requieras.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class={`${item.color} flex mt-1 rounded-full items-center justify-center p-2 w-8 h-8 md:h-16 md:w-16 shrink-0`}>
          <Icon class="text-white md:h-10 md:w-10" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
